@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&subset=cyrillic);@import url(http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css);@import url(/libs/bootstrap/bootstrap.min.css);@import url(/libs/normalize.css);@import url(/libs/ionicons/css/ionicons.min.css);@import url(/libs/slick/slick.css);@import url(/libs/slick/slick-theme.css);@import url(/libs/remodal/remodal.css);@import url(/libs/remodal/remodal-default-theme.css);a {
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #e52b30;
  text-decoration: none;
}

.heading .heading_head {
  color: #898989;
  font-weight: 400;
  letter-spacing: 1px;
}

.heading .heading_paraph {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  color: #3d3c3c;
  margin: 0;
  margin-top: 15px;
}

.heading:after {
  content: '...';
  display: block;
  color: #3d3c3c;
  font-size: 1.5rem;
}

em {
  font-size: 18px;
  color: #898989;
}

.btn {
  width: 170px;
  height: 100%;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
}

.btn-accent {
  background-color: #e52b30;
}

.btn-default {
  background-color: #afafaf;
  color: #212121;
}

.btn:hover {
  background-color: #d6d5d5;
  color: #212121;
}

.line {
  width: 1px;
  height: 20px;
  background-color: #d6d5d5;
  margin: 0 20px;
}

.contact_span {
  color: #898989;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.line_horizontal {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d5d5;
  display: block;
}

.p_t {
  padding: 7% 0;
}

.object_description,
.description {
  font-size: 13px;
  line-height: 1.7;
}

.load {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.ion-navicon {
  font-size: 2.5rem;
}

.phone_btn {
  width: 100%;
  text-align: right;
}

.detail-est {
  padding: 15px;
  background-color: #f7f7f7;
}

.nav_desc {
  color: #333;
}

a {
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #e52b30;
  text-decoration: none;
}

.heading .heading_head {
  color: #898989;
  font-weight: 400;
  letter-spacing: 1px;
}

.heading .heading_paraph {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  color: #3d3c3c;
  margin: 0;
  margin-top: 15px;
}

.heading:after {
  content: '...';
  display: block;
  color: #3d3c3c;
  font-size: 1.5rem;
}

em {
  font-size: 18px;
  color: #898989;
}

.btn {
  width: 170px;
  height: 100%;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
}

.btn-accent {
  background-color: #e52b30;
}

.btn-default {
  background-color: #afafaf;
  color: #212121;
}

.btn:hover {
  background-color: #d6d5d5;
  color: #212121;
}

.line {
  width: 1px;
  height: 20px;
  background-color: #d6d5d5;
  margin: 0 20px;
}

.contact_span {
  color: #898989;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.line_horizontal {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d5d5;
  display: block;
}

.p_t {
  padding: 7% 0;
}

.object_description,
.description {
  font-size: 13px;
  line-height: 1.7;
}

.load {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.ion-navicon {
  font-size: 2.5rem;
}

.phone_btn {
  width: 100%;
  text-align: right;
}

.detail-est {
  padding: 15px;
  background-color: #f7f7f7;
}

.nav_desc {
  color: #333;
}

.single-nav {
  -webkit-box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.path {
  font-size: 12px;
}

.path .path-item {
  padding-right: 10px;
}

.path span.path-item {
  color: #898989;
}

.aside-param {
  background-color: #e52b30;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

.aside_desc {
  background-color: #f7f7f7;
  padding: 25px;
  border-radius: 5px;
}

.aside_desc p {
  font-size: 14px;
}

.deailt-single-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.deailt-single-heading .detail-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3d3c3c;
  margin: 0;
}

.aside-avatar {
  width: 120px;
  margin-right: 1rem;
  height: 120px;
}

.aside-avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.agent {
  background-color: #f4f4f4;
  padding: 15px;
}

.aside-contact {
  font-size: 14px;
}

.social-id .id {
  margin-right: 25px;
  position: relative;
}

.date span,
.view span {
  font-size: 13px;
  color: #898989;
  letter-spacing: 1px;
}

.single-article-page p {
  font-size: 14px;
  line-height: 2;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html,
body {
  min-height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.menu {
  display: none;
}

.phone_btn {
  display: none;
  position: absolute;
  left: 0;
  padding-right: 10px;
}

.custom_item-esate {
  display: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#navigation {
  border-top: 2px solid #e52b30;
}

#navigation .header {
  padding: 0.5%;
}

#navigation .header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navigation .header .contact .company-info {
  width: 85%;
}

#navigation .header .contact .company-info .contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navigation .nav {
  padding: 1.5%;
}

.logo {
  width: 300px;
  line-height: 1.3;
}

.logo img {
  width: 100px;
}

.logo .nav_brand {
  font-size: 2rem;
  font-weight: 700;
  color: #e52b30;
}

.logo .nav_desc {
  font-size: 12px;
  line-height: 1;
}

.menu-link {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #636363;
}

.main_content .figure_content {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.main_content .figure_content .img-main_content {
  width: 100%;
  height: 100vh;
}

.main_content .figure_content .img-main_content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_content .figure_content .img-main_content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  height: 100%;
}

.main_content .figure_content .figure-caption {
  position: absolute;
  top: 35%;
  color: #fff;
  padding: 15px;
}

.main_content .figure_content .figure-caption h1 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  letter-spacing: 1px;
}

.main_content .figure_content .figure-caption .main-text p {
  padding: 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 1px;
  width: 900px;
  margin: 10px 0;
}

.main_content .figure_content .figure-caption p {
  letter-spacing: 1px;
}

.filter-page {
  -webkit-box-shadow: 0px 10px 10px 0 rgba(137, 137, 137, 0.4) !important;
          box-shadow: 0px 10px 10px 0 rgba(137, 137, 137, 0.4) !important;
}

.sarch_filter {
  -webkit-box-shadow: 0 0 10px 0 rgba(137, 137, 137, 0.9);
          box-shadow: 0 0 10px 0 rgba(137, 137, 137, 0.9);
  z-index: 999;
  position: relative;
}

.sarch_filter .search-icon {
  position: relative;
  top: -60px;
  background-color: #fff;
  padding: 5px 15px;
}

.sarch_filter .search-icon em {
  color: #000;
}

.sarch_filter .searc-group {
  margin-left: 15px;
}

.sarch_filter .searc-group .search-label {
  font-weight: 600;
  color: #212121;
  font-size: 14px;
}

.obmen,
.lenta,
.id {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: #e52b30;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  padding: 7px 0;
  width: 100px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.item {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 400px;
  margin: 0 10px;
}

.item:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(137, 137, 137, 0.5);
          box-shadow: 0 0 10px 0 rgba(137, 137, 137, 0.5);
}

.sell-estate {
  padding: 7% 0;
  background-color: #F4F5F6;
  z-index: 998;
}

.sell-estate .img-item {
  width: 100%;
  height: 270px;
  position: relative;
}

.sell-estate .img-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.obmen {
  background-color: #4d4dff;
}

.lenta {
  background-color: #00cd00;
}

.id {
  left: 0;
}

.item-block {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e2e2e2;
}

.text-item {
  padding-bottom: 20px;
}

.text-item h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #212121;
  font-size: 14px;
}

.text-item .price {
  font-weight: 700;
  color: #e52b30;
}

.param {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-button .next,
.slick-button .prev {
  padding: 25px 30px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.slick-button {
  padding: 4%;
}

.slick-button .next {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.slick-button .prev {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.item-block p {
  color: #898989;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

figure {
  margin: 0;
  padding: 0;
}

.custom-esate {
  padding: 7%;
  padding-bottom: 35px;
}

.custom-esate .custom-img {
  width: 700px;
  height: 300px;
  position: relative;
}

.custom-esate .custom-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.custom-esate .text-item h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-right: 50px;
}

.custom-esate .icon-item strong {
  color: #898989;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.custom-esate .price {
  background-color: #ffff33;
  color: #212121;
  padding: 5px 50px;
  position: relative;
}

.custom-esate .price:after {
  border: 10px solid transparent;
  border-right: 10px solid #ffff33;
  border-bottom: 10px solid #ffff33;
  content: '';
  display: inline-block;
  position: absolute;
  top: 16px;
  left: -18px;
}

.custom-esate .price:before {
  border: 10px solid transparent;
  border-top: 10px solid #ffff33;
  border-right: 10px solid #ffff33;
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 16px;
  left: -18px;
}

.services {
  background-color: #F4F5F6;
}

.services .serve-item {
  width: 400px;
  padding: 0 15px;
}

.services .img-service {
  width: 100%;
}

.services .img-service img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.services .text-service {
  border: 1px solid #d6d5d5;
  padding: 10px 10px;
  background-color: #fff;
}

.services h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.services .date {
  font-size: 12px;
}

.services p {
  color: #898989;
  font-size: 12px;
}

.services .btn {
  padding: 10px 10px;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer h2 {
  font-weight: 700;
  color: #535c65;
}

.footer .description {
  color: #a0a9b1;
  margin: 0;
  color: #636363;
}

.footer .foo-lates {
  margin-top: 10px;
}

.footer .foo-img {
  width: 200px;
  height: 90px;
}

.footer .foo-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer .foo-text {
  padding: 10px;
  width: 100%;
}

.footer .foo-text h3 {
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-weight: 600;
  text-transform: uppercase;
  color: #6a7681;
}

.footer .foo-text .price {
  color: #cccc00;
  font-weight: 600;
  font-size: 13px;
}

.footer .foo-text h3:hover {
  color: #25292d;
}

.eye-img {
  width: 100%;
  height: 500px;
}

.eye-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.remodal-item {
  position: relative;
  font-size: 13px;
}

.remodal-item span {
  color: #e52b30;
}

.remodal-item:after {
  content: '';
  width: 100%;
  border-top: 1px dashed #d6d5d5;
  display: block;
  position: absolute;
  bottom: -6px;
}

.js-preloader {
  display: block;
  background-color: #e52b30;
  position: absolute;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.js-preloader .icon {
  z-index: 999999;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 3rem;
}

.service-desc {
  min-height: 110px;
}

.single-img {
  height: 100% !important;
}

a {
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #e52b30;
  text-decoration: none;
}

.heading .heading_head {
  color: #898989;
  font-weight: 400;
  letter-spacing: 1px;
}

.heading .heading_paraph {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  color: #3d3c3c;
  margin: 0;
  margin-top: 15px;
}

.heading:after {
  content: '...';
  display: block;
  color: #3d3c3c;
  font-size: 1.5rem;
}

em {
  font-size: 18px;
  color: #898989;
}

.btn {
  width: 170px;
  height: 100%;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
}

.btn-accent {
  background-color: #e52b30;
}

.btn-default {
  background-color: #afafaf;
  color: #212121;
}

.btn:hover {
  background-color: #d6d5d5;
  color: #212121;
}

.line {
  width: 1px;
  height: 20px;
  background-color: #d6d5d5;
  margin: 0 20px;
}

.contact_span {
  color: #898989;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.line_horizontal {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d5d5;
  display: block;
}

.p_t {
  padding: 7% 0;
}

.object_description,
.description {
  font-size: 13px;
  line-height: 1.7;
}

.load {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.ion-navicon {
  font-size: 2.5rem;
}

.phone_btn {
  width: 100%;
  text-align: right;
}

.detail-est {
  padding: 15px;
  background-color: #f7f7f7;
}

.nav_desc {
  color: #333;
}

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  /**/

  .navbar-nav {
    width: 100% !important;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  /**/

  .navigation {
    position: relative;
  }

  .search-filder {
    display: block !important;
  }

  .search-filder .searc-group {
    width: 100% !important;
    margin: 25px auto;
  }

  .item_custom-figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item_custom-figure .custom-img {
    width: 100%;
  }

  .item_custom-figure .custom-img img {
    width: 100%;
  }

  .text-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .text-item h4 {
    margin: 25px 0;
  }

  .navbar-nav {
    display: none;
    position: relative;
    z-index: 999;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 999;
    background-color: #fff;
  }

  .menu li {
    border-bottom: #898989;
  }

  .menu li .menu-link {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 10px;
  }

  .phone_btn {
    display: block;
    height: 100%;
    margin-top: 35px;
  }

  .header {
    display: none;
  }

  .search-filder {
    padding: 15px;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  /**/
}

