@import "vars"

.single-nav
    box-shadow: 0 10px 5px 0 rgba(0,0,0,0.2)
.path
    font-size: 12px
    .path-item
        padding-right: 10px
    span.path-item
        color: $grey
.aside-param
    background-color: $accent
    color: #fff
    padding: 10px
    font-size: 1.2rem
    font-weight: 300

.aside_desc
    background-color: lighten($grey, 43%)
    padding: 25px
    border-radius: 5px
    p
        font-size: 14px
.deailt-single-heading
    display: flex
    align-items: center
    padding-bottom: 30px
    .detail-heading
        font-size: 1.5rem
        font-weight: 600
        color: darken($grey, 30%)
        margin: 0
    

.aside-avatar
    width: 120px
    margin-right: 1rem
    height: 120px
    img
        object-fit: cover
        height: 100%
        width: 100%
        border-radius: 100%

.agent
    background-color: lighten($grey, 42%)
    padding: 15px

.aside-contact
    font-size: 14px
.social-id
    .id
        margin-right: 25px  
        position: relative

.date, .view
    span
        font-size: 13px
        color: $grey
        letter-spacing: 1px

.single-article-page
    p
        font-size: 14px
        line-height: 2